<div class="homepage">
  <h1>Angular learning - Exercises</h1>
  <ul class="exercises">
    <!-- Exercicio 1 -->
    <li>
      <app-exercise-card
        title="Exercício 1"
        description="Habib user CRUD"
        imgSrc="assets/img/angularLogo.jpg"
        url="1"
      ></app-exercise-card>
    </li>
    <!-- Exercicio 2 -->
    <li>
      <app-exercise-card
        title="Exercício 2"
        description="Todo APP"
        imgSrc="assets/img/angularLogo.jpg"
        url="2"
      ></app-exercise-card>
    </li>
  </ul>
</div>
