<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="bg-card d-flex flex-column">
    <!-- Back button container -->
    <div class="row">
      <div class="col-12">
        <a href="../"
          ><span class="material-icons text-black-50"> arrow_back_ios </span></a
        >
      </div>
    </div>
    <!-- Title -->
    <h3 class="font-weight-bold text-center">Habib - Users</h3>
    <!-- Reload button -->
    <button (click)="fetchUsers()">
      <span class="material-icons reload-icon"> cached </span> Reload
    </button>
    <!-- Paggination container -->
    <div class="row">
      <div class="col-5 d-flex justify-content-end">
        <button (click)="previousPage()">
          <span class="material-icons"> arrow_back_ios </span>
        </button>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <h2>{{ page }}</h2>
      </div>
      <div class="col-5 d-flex justify-content-start">
        <button (click)="nextPage()">
          <span class="material-icons"> arrow_forward_ios </span>
        </button>
      </div>
    </div>
    <!-- Description container -->
    <div class="row">
      <div class="col-12 d-flex justify-content-start">
        <h5>Showing {{ pageLimit }} users per page</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-start">
        <h5>There are {{ totalRecords }} users</h5>
      </div>
    </div>
    <!-- List of users -->
    <ul class="list-unstyled">
      <!-- User item component -->
      <app-user-item
        *ngFor="let user of usersList | async"
        [user]="user"
      ></app-user-item>
    </ul>
  </div>
</div>
