.container-fluid {
  padding: 0;
}

.bg-card {
  background: rgb(241, 241, 241);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: fit-content;
  margin: 1rem 0;
}

button {
  outline: none;
  background: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  transition: all 0.4s;
  align-items: center;
}

button span {
  transition: all 0.4s;
}

button .material-icons {
  transition: transform 0.4s;
}
button:hover {
  background: black;
  color: white;
}

button:active .reload-icon {
  animation: rotating 1s;
}
